@import 'utils';
.button {
  display: inline-block;
  font-size: 1rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  padding-right: 0.8rem;
  padding-left: 0.8rem;
  font-weight: 400;
  background: material-color('grey', '300');
  user-select: none;

  &:hover {
    background: material-color('grey', '200');
  }
  &:active {
    background: material-color('grey', '300');
  }
  &.round-corner {
    border-radius: 6px;
  }

  &.invert {
    border: 1.5px solid material-color('grey', '50');
    color: material-color('grey', '50');
    background: transparent;
    transition: all .5s ease-in-out;
    &:hover {
      background: material-color('grey', '50');
      cursor: pointer;
      @include material-shadow(2);
    }

    &:active {
      @include material-shadow(3);
    }
  }

  &.flex {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    flex: 1;
  }

  &.flex + &.flex {
    margin-left: 1rem;
  }

  &.flat {
    border-radius: 2px;
    transition: all .15s ease-in;
    &.white {
      background: white;
      border: 1px solid material-color('grey', '300');

      &:hover {
        background: material-color('grey', '100');
      }
      &:active {
        background: material-color('grey', '200');
      }
    }
    &.teal {
      color: white;
      background: material-color('teal', '300');
      border: 1px solid material-color('teal', '400');
      &:hover {
        background: material-color('teal', '200');
        border: 1px solid material-color('teal', '300');
      }
      &:active {
        background: material-color('teal', '400');
        border: 1px solid material-color('teal', '500');
      }
    }
  }
}
